{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true,
    "react-native/react-native": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "import", "react-native"],
  "rules": {
    "indent": ["error", "tab"],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-unused-vars": "warn",
    "no-console": "warn",
    "jsx-quotes": ["error", "prefer-double"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-redundant-should-component-update": "error",
    "react/no-typos": "error",
    "react/no-this-in-sfc": "error",
    "react/no-unknown-property": "error",
    "react/react-in-jsx-scope": "error",
    "react/self-closing-comp": "error",
    "react/require-render-return": "error",
    "react/void-dom-elements-no-children": "error",
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-equals-spacing": "error",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "logical": "parens-new-line",
        "condition": "parens",
        "prop": "parens"
      }
    ],
    "react/jsx-tag-spacing": "error",
    "react/jsx-props-no-multi-spaces": "error",
    "react/jsx-curly-brace-presence": "error",
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 1,
        "when": "multiline"
      }
    ],
    "space-in-parens": ["error", "never"],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "unknown",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "import/no-cycle": "error",
    "import/first": "error",
    "import/no-useless-path-segments": "error",
    "import/no-duplicates": "error",
    "import/newline-after-import": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
